<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/ITExercises/tests">
        <classes>
            <class name="com.gitlab.rmarzec.task.Task4Test">
                <methods>
                    <include name="Task4Test"/>
                </methods>
            </class>

            <!--
            <class name="com.gitlab.rmarzec.task.Task2Test">
                <methods>
                    <include name="Task2Test"/>
                </methods>
            </class>
            <class name="com.gitlab.rmarzec.task.Task3Test">
                <methods>
                    <include name="Task3Test"/>
                </methods>
            </class>
            <class name="com.gitlab.rmarzec.task.Task4Test">
                <methods>
                    <include name="Task4Test"/>
                </methods>
            </class>
            -->
        </classes>
    </test>
</suite>